:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  min-height: 100%;
}

.tdBox {
  border: solid 0.5rem grey;
  padding: 2rem;
}

.box {
  border: solid grey 2rem;
}

.mainTitle {
  text-align: center;
  font-size: 4rem;
}
